parameters:
	level: 4
	paths:
		- src
		- tests
	fileExtensions:
		- php
	ignoreErrors:
	    - '#Mrcnpdlk\\Api\\Unoconv\\Enum\\DocType::.*#'
	    - '#Mrcnpdlk\\Api\\Unoconv\\Enum\\FormatType::.*#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/jangregor/phpstan-prophecy/src/extension.neon
